################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/SpaceRemastered/wwwroot
/SpaceRemastered/obj/
/SpaceRemastered/bin/
/SpaceRemastered/.bowerrc
/SpaceRemastered/config.json
*.dll
*.pbd
/SpaceRemastered/node_modules
