################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpaceRemastered/config.json
/.vs
/SpaceRemastered/wwwroot/lib/*
