################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpaceRemastered/config.json
config.json
../.vs
/.vs
wwwroot/lib/
